use-cases/Update_LinkedIn_Profiles_one_by_one_with_Bright_Data_and_Google_Sheets_with_no_scrapping.json
{
  "name": "Update LinkedIn Profiles one by one with Bright Data and Google Sheets with no scrapping",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        180
      ],
      "id": "1fe42863-c218-4804-81bd-33ccde1af967",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "# Update LinkedIn Profiles one by one with Bright Data and Google Sheets with no scrapping\n\n## TODO\n- Create a new Google Project (or reuse an existing one).\n- Create an OAuth2 credentials (or reuse an existing one) and complete client_id and client_secret to authorize access to Google Sheets and Gmail from your n8n. You need to add Google Sheets and Gmail API to your project.\n- Clone https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0 to another place.\n- Update Google Sheets with the new URI.\n- You need a valid Bright Data api key.\n",
        "height": 740,
        "width": 2020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -380
      ],
      "typeVersion": 1,
      "id": "a729db8f-4a08-4e98-afc9-3da9c8dd2602",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -460,
        0
      ],
      "id": "57ac8676-5bc5-4c71-b710-d863104325fa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "sendTo": "miquel@n8nhackers.com",
        "subject": "=LinkedIn update process",
        "message": "={{ $json.count_processed }} profiles were updated!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        -60
      ],
      "id": "bde503a5-c291-423a-b7ba-4adc40a482e5",
      "name": "Gmail",
      "webhookId": "5e3223f1-2f72-49e0-87a4-39f89e40b1a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "4keJHSrvxbTMBL3v",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1220,
        0
      ],
      "id": "a6d6bca6-b3c4-416d-abd5-6a1a5e137be2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b34893b-01ff-449e-9cb1-b3231d94b797",
              "leftValue": "={{$json.processed + \"\" }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -680,
        0
      ],
      "id": "7ff59e87-db1a-4da7-bf08-65b25ff3ebb2",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WebScrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": "true",
            "fullname": "={{ $json.name }}",
            "location": "={{ $json.city }}",
            "country": "={{ $json.country_code }}",
            "current_company": "={{ $json.current_company_name }}",
            "followers": "={{ $json.followers }}",
            "connections": "={{ $json.connections }}",
            "about": "={{ $json.about }}",
            "profile_avatar": "={{ $json.avatar }}",
            "languages": "={{ $json.languages.map(item => item.title).join(\",\")}}",
            "linkedin_uri": "={{ $json.url }}"
          },
          "matchingColumns": [
            "linkedin_uri"
          ],
          "schema": [
            {
              "id": "linkedin_uri",
              "displayName": "linkedin_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_avatar",
              "displayName": "profile_avatar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile_image",
              "displayName": "profile_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_company",
              "displayName": "current_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "languages",
              "displayName": "languages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connections",
              "displayName": "connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        100
      ],
      "id": "ad42db7d-2e33-43aa-9163-ef0a545fa359",
      "name": "Update LinkedIn Uri Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nxwxNRn4uj5h6qZq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "processed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        220,
        -60
      ],
      "id": "ea884cb5-d6e4-4fb0-a8cb-badf20f767ad",
      "name": "Summarize total records"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "WebScrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -880,
        0
      ],
      "id": "75e33f8b-c9db-4d55-8037-7c2f83d4e161",
      "name": "Read All Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nxwxNRn4uj5h6qZq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "webScrapper",
        "dataset_id": {
          "__rl": true,
          "value": "gd_l1viktl72bvl7bjuj0",
          "mode": "list",
          "cachedResultName": "LinkedIn people profiles"
        },
        "urls": "=[{\"url\":\"{{$json.linkedin_uri}}\"}]"
      },
      "type": "n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        -60,
        100
      ],
      "id": "aebfc72b-9b63-479d-8767-04a78ec2ad9b",
      "name": "BrightData/Scrape By URL",
      "credentials": {
        "brightdataApi": {
          "id": "jk945kIuAFAo9bcg",
          "name": "BrightData account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Summarize total records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BrightData/Scrape By URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update LinkedIn Uri Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize total records": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrightData/Scrape By URL": {
      "main": [
        [
          {
            "node": "Update LinkedIn Uri Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "960d80e2-33b3-46c7-a128-885040ffe662",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1f85eae352fde76d801a1a612661df6824cc2e68bfd6741e31305160a737e6e"
  },
  "id": "dVNrDNuQ62OFSv0g",
  "tags": []
}