use-cases/workflow-sample.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            },
            {
              "key": "body",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        360,
        -160
      ],
      "id": "b0f2d25b-6dab-4569-b32d-e5b0508c2807",
      "name": "HTML"
    },
    {
      "parameters": {
        "formTitle": "Top deals",
        "formDescription": "This form returns top deals by your preferences in the same page.\n\nYou can schedule your future deals once per day at the end of this test.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Appliances"
                  },
                  {
                    "option": "Cameras, CamCorders & Drones"
                  },
                  {
                    "option": "Car Electronics "
                  },
                  {
                    "option": "Cell Phones"
                  },
                  {
                    "option": "Computers & Tablets"
                  },
                  {
                    "option": "TV & Home Theater"
                  },
                  {
                    "option": "Video Games"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Complete your email",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "Get Deals",
          "path": "get-top-deals",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -60,
        -160
      ],
      "id": "81d17cc3-d220-4c82-9545-2b4aea60f7ec",
      "name": "On form submission",
      "webhookId": "33e8f7c3-82fb-4339-9c91-4b19aa6c14ba"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Generate a list of recommended deals in json list. Classify items by category. Generate the next properties: name, description, price, link and category. All properties will be in a property called: results. Translate texts to english if required.",
              "role": "system"
            },
            {
              "content": "=The input text is:\n{{ $json.body }}"
            },
            {
              "content": "=Categories to filter: {{ $('On form submission').item.json.Category.join(',') }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        100
      ],
      "id": "78aecb73-4bbb-4025-b690-32918e259b54",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "bspWRymWPLhxwKiI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Our recommended deals!",
        "completionMessage": "=We have sent {{ $('Split Out').all().length }} recommended deals to your email!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "id": "dde28f29-dd1e-4247-af23-d1919c195a47",
      "name": "Form",
      "webhookId": "a67843b4-3ab9-427b-8e52-dfc42831065d"
    },
    {
      "parameters": {
        "oneTemplate": true,
        "template": "<br>\nThese are our recommended deals today:<br>\n<ul>\n{{#each items}}\n<li>{{category}}: <a href=\"https://www.bestbuy.com{{link}}\">{{name}}</a> for {{price}}€</li>\n{{/each}}\n</ul>\n<br>"
      },
      "type": "n8n-nodes-document-generator.documentGenerator",
      "typeVersion": 1,
      "position": [
        180,
        100
      ],
      "id": "71940120-3cd9-4838-b1ff-a43998ae4c04",
      "name": "DocumentGenerator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -20,
        100
      ],
      "id": "7657a22b-a0b1-4587-913c-c59e9ae1e2ed",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fromEmail": "deals@n8nhackers.com",
        "toEmail": "={{ $('On form submission').first().json.Email}}",
        "subject": "Your last deals!",
        "html": "=Hi!\n<br>\n{{ $json.text }}\n\nBest,\n<br>\nThe n8nhackers team!",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        400,
        100
      ],
      "id": "6574edca-1b50-4276-a040-63a8dc3a73b3",
      "name": "Send Email",
      "webhookId": "626001db-5451-4225-bf98-cd74c3952754",
      "credentials": {
        "smtp": {
          "id": "DCXTDpiP5ar3dZgq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "zone": {
          "__rl": true,
          "mode": "list",
          "value": "web_unlocker1"
        },
        "country": {
          "__rl": true,
          "mode": "list",
          "value": "us"
        },
        "url": "https://www.mediamarkt.es/es/campaign/campanas-y-ofertas",
        "format": "json",
        "requestOptions": {}
      },
      "type": "CUSTOM.brightData",
      "typeVersion": 1,
      "position": [
        140,
        -160
      ],
      "id": "2cbeb49f-039b-46be-b5b7-9ffe4be663e2",
      "name": "BrightData",
      "credentials": {
        "brightdataApi": {
          "id": "6Hg8aOf3170H8HGg",
          "name": "BrightData account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocumentGenerator": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "DocumentGenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "BrightData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrightData": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0adc1629-ef55-483a-bc91-e8a938b3203e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "891463e100334eb67827824d23933c03ba831b425e7dc4843734239bac8fe4cc"
  },
  "id": "FGF9jRM69tYKItbJ",
  "tags": []
}
